.message-sending, .message-sending-error, .message-sent-successful{
  height: 80px;
  border-radius: 20px;
  text-align: center;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-sending{
  background-color: yellow;
}

.message-sending-error{
  background-color: red;
}

.message-sent-successful{
  background-color: green;
}
